@media (max-width: 480px) {
  body {
      font-size: 12px !important;
  }

  h1 {
      font-size: 18px !important;
  }
  h2 {
    font-size: 14px !important;
}

  h3 {
      font-size: 16px !important;
  }

  table {
      font-size: 10px  !important; 
  }

  th, td {
      padding: 5px;
  }
}


.center-text {
  text-align: center;
}

.color h3 {
  color: #000000;
}

.colorblack h3 {
  color: white;
}

.colorblack:hover  h3 {
  color: black;
}


.color {
  margin: 15px;
  padding: 50px;
  color: white;
  border-radius: 10px;
  background-color: #fdff43;
  box-shadow: 10px 10px 5px #afafaf;
}

.colorblack {
  margin: 15px;
  padding: 50px;
  color: white;
  border-radius: 10px;
  background-color: #000000;
  box-shadow: 10px 10px 5px #afafaf;
}

.ppt {
  margin: 15px;
  margin-bottom: 49px;
  padding: 15px;
  padding-bottom: 50px; 
  border-radius: 10px;
  box-shadow: 10px 10px 5px #afafaf;
}

.color img {
  margin: 0px;
  width: 100px;
  height: 100px;
  color: white;
  border-radius: 10px;
  background-color: rgb(59, 46, 181);
}

.colorblack img {
  margin: 0px;
  width: 100px;
  height: 100px;
  color: black;
  border-radius: 10px;
  background-color: rgb(243, 210, 47);
}

.colorblack:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(16, 17, 0);
  border: 2px solid rgb(2, 1, 17);
  box-shadow: 10px 10px 5px #f3f3f3;
}

.color:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(216, 219, 5);
  border: 2px solid rgb(202, 182, 0);
  box-shadow: 10px 10px 5px #f3f3f3;
}

.color a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.colorblack a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}

.syllabus {
  color: rgb(0, 0, 121);
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgb(59, 46, 181);
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid rgb(59, 46, 181);
}

th {
  background-color: #f2f2f2;
}

.demo-performance {
  font-style: italic;
  color: #555;
}

.photoshop_content {
  margin-top: 55px;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent; 
}

.heading-color h1 {
  color: purple;
}
